*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: roboto;
    text-decoration: none;
}

#add-header{
    width:50%;
    margin:auto;
    display: flex;
    flex-direction: column;
    margin-top:20px;

}
#add-header input,textarea,button{
    padding: 10px;
    border:1px solid black;
    border-radius: 5px;
    width:100%


}

#todos{
    width:50%;
    margin:auto;
    max-height: 350px;
    background-color: whitesmoke;
    padding:20px;
    margin-top:20px;
    overflow-y: auto;
    

}
.todo-item{
    width:100%;
    padding:10px;
    display: flex;
    justify-content: space-between;
    
    
   
    
}
.todo-item a{
 
    
   
    color:black;
}
.todo-item div a{
 
    
   
    color:blue;
    border:1px solid blue;
    border-radius: 10px;
    padding:5px 20px;
}


.span{
    
    width:20px;
    height:20px;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}

#post{
    width:50%;
    margin:auto;

    background-color: whitesmoke;
    padding:20px;
    margin-top:20px;
    

}