*{
    font-family: roboto;
    box-sizing: border-box;
}

#row{
    width:80%;
    padding:15px 0px;
    margin:auto;
}
#comments{
    width:100%;
    padding:5px 0px;
    
}
.comment-item{
    background-color: whitesmoke;
    padding:5px;

}