<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    
   <div>

    {{request.user}}
    <a href="/logout">logout</a>

    <div id='user'>
        {% for i in data %}
            {% if i.id != request.user.id %}
                <div>
                    <h3><a href="/message/{{i.id}}"> {{i}}</a></h3>
                </div>
            {% endif %}
           
        {% endfor %}

    </div>
</div>
</body>
</html>